h1{
  font-family: fantasy;
  background-color: red;
  color: blue;
  }
p{
  font-style: italic;
  text-decoration: underline;
}
button{
  background-color: red;
  border-color: red;
  color: brown;
}
.capybara{
  width: 200px;
  height: 100px;
}
